<div class="card shadow">
    {% match header %}
    {% when Some with (header) %}
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{ header }}</h6>

        {% if !context_links.is_empty() %}
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                {% for group in context_links %}
                {% match group.label %}
                {% when Some with(label) %}
                <div class="dropdown-header">{{ label }}</div>
                {% when None %}
                {% endmatch %}
                {% for link in group.items %}
                <a class="dropdown-item" href="{{ link.action.href() }}">{{ link.label }}</a>
                {% endfor %}
                {% if !loop.first %}
                <div class="dropdown-divider"></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% when None %}
    {% endmatch %}

    <div class="card-body">
        {{ content|safe }}
    </div>
</div>