<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        {{ brand_icon|safe }}
        <div class="sidebar-brand-text mx-3">{{ name|safe }}</div>
    </a>
    {% for group in groups %}
    <!-- Divider -->
    {% if loop.first %}
    <hr class="sidebar-divider my-0">
    {% else %}
    <hr class="sidebar-divider">
    {% endif %}

    {% match group.label %}
    {% when Some with (label) %}
    <!-- Heading -->
    <div class="sidebar-heading">
        {{ label }}
    </div>
    {% when None %}
    {% endmatch %}

    {% for item in group.items %}
    <!-- Nav Item - {{ item.label() }} -->
    {% match item %}
    {% when NavItem::Link with (navlink) %}
    <li class="nav-item{% if navlink.active() %} active{% endif %}">
        <a class="nav-link" href="{{ navlink.action().href() }}" {{ navlink.action().props()|safe }}>
            {% match navlink.icon() %}
            {% when Some with (icon) %}
            <i class="fas fa-fw {{ icon }}"></i>
            {% when None %}
            {% endmatch %}
            <span>{{ navlink.label() }}</span></a>
    </li>
    {% when NavItem::Collapsible with { label, icon, subgroups, collapsed } %}
    <li class="nav-item">
        <a class="nav-link{% if collapsed %} collapsed{% endif %}" href="#" data-toggle="collapse"
            data-target="#{{ label }}" aria-expanded="{{ !collapsed }}" aria-controls="{{ label }}">
            <i class="fas fa-fw {{ icon }}"></i>
            <span>{{ label }}</span>
        </a>
        <div id="{{ label }}" class="collapse{% if !collapsed %} show{% endif %}" aria-labelledby="headingPages"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {% for subgroup in subgroups %}
                {% match subgroup.label %}
                {% when Some with (label) %}
                <h6 class="collapse-header">{{ label }}</h6>
                {% when None %}
                {% endmatch %}

                {% for sublink in subgroup.links %}
                <a class="collapse-item{% if sublink.active %} active{% endif %}" href="{{ sublink.action.href() }}" {{
                    sublink.action.props()|safe }}>{{
                    sublink.label }}</a>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </li>
    {% endmatch %}
    <!-- End of Nav Item - {{ item.label() }} -->
    {% endfor %}
    {% endfor %}
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->