{% match unauthenticated_nav %}
{% when Some with (nav) %}
{{ nav|safe }}
{% when None %}
{% endmatch %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <h1 class="h3">Sign Up</h1>
                <form method="POST" action="{{ submit_target }}">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email"
                            class="form-control{% if email_feedback.is_some() %} is-invalid{% endif %}" id="email"
                            placeholder="Email" {% match email %}{% when Some with (email) %}value="{{ email }}" {% when
                            None %}{% endmatch %}>
                        {% match email_feedback %}
                        {% when Some with (feedback ) %}
                        <div class="invalid-feedback">
                            {{ feedback }}
                        </div>
                        {% when None %}
                        {% endmatch %}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password"
                            class="form-control{% if password_feedback.is_some() %} is-invalid{% endif %}" id="password"
                            placeholder="Password">
                        {% match password_feedback %}
                        {% when Some with (feedback ) %}
                        <div class="invalid-feedback">
                            {{ feedback }}
                        </div>
                        {% when None %}
                        {% endmatch %}
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>